@charset "UTF-8";
/**
 * 移动端 全局重置
 */
html, body {
  border: 0;
  font-family: "Microsoft YaHei","Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0; }

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption, table th, table td {
    text-align: left;
    vertical-align: middle; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a img {
  border: 0; }

:focus {
  outline: 0; }

/* 全局兼容 */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  zoom: 1; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

.nzfl {
  position: relative;
  background-color: #F2E6D6;
  padding-top: 56px;
  text-align: center; }
  .nzfl header h1 {
    font-size: 80px;
    color: #e23a3f; }
  .nzfl header h2 {
    margin: 20px 0 24px;
    font-size: 48px;
    font-weight: normal;
    color: #e23a3f; }
    .nzfl header h2 span {
      background: url("../images/plane.png") no-repeat 20px 16px;
      padding-left: 88px; }
  .nzfl header h3 {
    height: 80px;
    background: url("../images/banner.png") no-repeat center 0;
    color: #fbc40f;
    font-size: 40px;
    line-height: 80px;
    font-weight: normal; }
    .nzfl header h3 span {
      color: #fff; }
  .nzfl .main {
    position: relative; }
    .nzfl .main .demo {
      width: 666px;
      height: 686px;
      position: relative;
      margin: 16px auto 0; }
      .nzfl .main .demo #disk {
        width: 666px;
        height: 686px;
        background: url("../images/disk.png") no-repeat;
        background-size: contain; }
      .nzfl .main .demo #start {
        width: 210px;
        height: 210px;
        position: absolute;
        top: 230px;
        left: 230px; }
        .nzfl .main .demo #start img {
          cursor: pointer;
          width: 210px;
          height: 252px;
          margin-top: -42px; }
    .nzfl .main .piece {
      position: absolute;
      top: -220px;
      left: 30px;
      z-index: -1;
      width: 696px;
      height: 832px;
      background: url("../images/piece.png") no-repeat;
      background-size: contain; }
  .nzfl footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../images/footer.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px; }
  .nzfl .mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%; }
    .nzfl .mask .pop {
      margin: 186px 50px 0;
      padding-top: 160px;
      box-sizing: border-box;
      width: 650px;
      height: 650px;
      text-align: center;
      background: url("../images/pop-up.png") no-repeat;
      color: #a12727; }
      .nzfl .mask .pop i {
        position: absolute;
        top: 260px;
        right: 90px;
        width: 70px;
        height: 70px;
        background: url("../images/close.png") no-repeat; }
      .nzfl .mask .pop p {
        font-size: 24px; }
      .nzfl .mask .pop.gxn200 h1 {
        font-size: 50px;
        color: #a12727;
        font-weight: normal;
        margin-bottom: 28px; }
      .nzfl .mask .pop.gxn200 h2 {
        margin-bottom: 50px;
        font-size: 40px;
        color: #a12727; }
        .nzfl .mask .pop.gxn200 h2 big {
          font-size: 60px;
          color: #ec2828; }
      .nzfl .mask .pop.gxn200 .mslq {
        margin: 0 auto 40px;
        width: 400px;
        height: 100px;
        display: block;
        border-radius: 50px;
        background-color: #a12727;
        color: #fbc40f;
        font-size: 50px;
        line-height: 100px;
        font-weight: bold; }
      .nzfl .mask .pop.gxn200 .zsyc {
        margin: 0 auto 40px;
        display: block;
        width: 260px;
        height: 70px;
        border: 1px solid #fbc40f;
        border-radius: 50px;
        color: #a12727;
        font-size: 36px;
        line-height: 70px;
        background-color: #F0E5D6; }

/*# sourceMappingURL=style.css.map */