/**
 * 移动端 全局重置
 */
html, body {
    border: 0;
    font-family: "Microsoft YaHei","Helvetica-Neue", "Helvetica", Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    caption, th, td {
        text-align: left;
        vertical-align: middle;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a img {
    border: 0;
}

:focus {
    outline: 0;
}

/* 全局兼容 */
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }
.clearfix { zoom:1; }